.wrapCalc{
    display: flex;
    position: relative;
    z-index: 1;
    margin: 30px;
    padding: 50px;
    width: 70vw;
    left: 172px;
    top:-500px;
    
}
.wrapInputsCalc{
    
}
.inpStyle{
    border: 2px solid black;
    margin: 10px;
}
